<div id="about" class="about-section">
        <div class="container text-center">
            <h2 class="section-title">Why kernellab technology?</h2>
            <p class="intro">We use modern frontend technologies and is packed with useful components and widgets to speed up your application.</p>
            <ul class="technologies list-inline">
                <li><img src="assets/images/logo-bootstrap.svg" alt="Bootstrap"></li>
                <li><img src="assets/images/logo-angular.svg" alt="Angular"></li>
                <li><img src="assets/images/logo-html5.svg" alt="HTML5"></li>
                <li><img src="assets/images/logo-css3.svg" alt="CSS3"></li>
                <li><img src="assets/images/logo-less.svg" alt="Less"></li>
                <li><img src="assets/images/logo-jquery.svg" alt="jQuery"></li>
            </ul>

            <p class="intro">We use modern backend languages these are reliable and powerful for your requirement.</p>
            <ul class="technologies list-inline">
                <li><img src="assets/images/nodejs.png" alt="Node.js" height="85px"></li>
                <li><img src="assets/images/ruby.png" alt="Ruby on rails" height="80px"></li>
                <li><img src="assets/images/java.png" alt="Java with spring" height="80px" width="80px"></li>
                <li><img src="assets/images/php.png" alt="PHP" height="80px"></li>
                <li><img src="assets/images/python.png" alt="Python" height="80px"></li>
                <li><img src="assets/images/clojure.png" alt="clojure" height="84px"></li>
                <li><img src="assets/images/scala.png" alt="scala" height="80px" width="70px"></li>
                <li><img src="assets/images/golang.png" alt="go language,golang" height="90px" width="70px"></li>
            </ul>
            
            <div class="items-wrapper row">
                <div class="item col-sm-4 col-xs-12">
                    <div class="item-inner">
                        <div class="figure-holder">
                            <img class="figure-image" src="assets/images/figure-1.png" alt="image">
                        </div><!--//figure-holder-->
                        <h3 class="item-title">UX-Centered Design</h3>
                        <div class="item-desc">
                            Bespoke UX/UI design to enhance your app's user experience. Let us take care of the design so you can develop without design resources.
                        </div><!--//item-desc-->
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item col-sm-4 col-xs-12">
                    <div class="item-inner">
                        <div class="figure-holder">
                            <img class="figure-image" src="assets/images/figure-2.png" alt="image">
                        </div><!--//figure-holder-->
                        <h3 class="item-title">Supercharge App Development</h3>
                        <div class="item-desc">
                            We make front-end solution so you can concentrate on making your app’s back-end robust and awesome. It empowers small teams to create big things. </div><!--//item-desc-->
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item col-sm-4 col-xs-12">
                    <div class="item-inner">
                        <div class="figure-holder">
                            <img class="figure-image" src="assets/images/figure-3.png" alt="image">
                        </div><!--//figure-holder-->
                        <h3 class="item-title">Mobile First</h3>
                        <div class="item-desc">
                            Built on the popular Bootstrap framework, so the design is “Mobile First” and fully responsive. For a startup, building an HTML5 webapp which also works across mobile devices is the most cost-effective way to get your product off the ground.</div><!--//item-desc-->
                    </div><!--//item-inner-->
                </div><!--//item-->
            </div><!--//items-wrapper-->
        </div><!--//container-->
    </div><!--//about-section-->