<footer class="footer text-center">
    <div class="container">
        <small class="copyright">Designed by <a href="https://twitter.com/3rdwave_themes" target="_blank">Xiaoying Riley</a>. Powered by <a href="https://kernellab.site">kernellab.site</a>.</small>
    </div><!--//container-->
</footer>

    <script type="text/javascript" src="{{ site.baseurl }}/assets/plugins/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script>     
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/main.js"></script> 